<h1>Olá, {{fiscal}}</h1>
<p>O contrato <strong>{{contrato}}</strong> vence em {{diasRestantes}} dias, fique atento!</p>
<p>Data de vencimento: <strong>{{vencimento}}</strong></p>
<p>Tomar as devidas providências.</p>